
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
	box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
	            0 32px 64px -48px rgba(0,0,0,0.5);
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 50%;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
.comment{
    position: relative;
    margin-top:3rem;
    padding-left:14%;
    margin-bottom:3rem;
    
  }
  .comment .comment-area{
    width:80%;
    resize:none;
    font-size:1.3rem;
    padding:5px;
    border-radius:.5rem;
  }
  .comment form .btn{
    padding:5px 8px;
    cursor: pointer;
    border-radius:.5rem;
    background:#256eff;
    color:#fff;
    font-size:1rem;
    font-weight:300;
  }
  .view-comment{
    width:80%;
    margin-top:1.5rem;
    border:1px solid #777;
    padding:9px;
    border-radius:.8rem;
  }
  .view-comment .name-comment{
    color:#000;
    border-bottom:1px solid #000;
    margin-bottom:.8rem;
  }
  .view-comment .comment-message{
    color:#ccc; 
    margin-top:.8rem;
    display:flex;
    color:#767a79;
    flex-wrap:wrap;
  }
  .image-gallery{
        width: 90%;
        margin: auto;
        margin-top: 2rem;
        overflow: hidden;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;
        height: 85vh;
    }
    .image-gallery .image-add,
    .image-gallery .images{
        width: 250px;
        margin-top: 25px;
        height: 250px;
        border: 1px dotted black;
        cursor: pointer;
    }
    .image-gallery .image-add .fa-camera{
        font-size: 100px;
        color: gray;
        margin-top: 75px;
        margin-left: 75px;
        position: relative;
        /* margin-left: ; */
    }
    .image-gallery .image-add span{
        font-size: 25px;
        color: gray;
        margin-left: 70px;
    }

    .image-gallery .images img{
        height: 200px;
        width: 250px;
    }
    .image-gallery .images p{
        color: gray;
        display: flex;
        width: 100%;
        height: 45px;
    }
    .image-gallery .images .content{
        display: flex;
    }
    @media(max-width:450px){
        .image-gallery{
            justify-content: center;
        }
        .image-add,.images{
            margin-top: 25px;
        }
    }